body {
    margin: 0;
}

header {
    display: flex;
    gap: 10px;
    padding: 20px 30px;
    background-color: black;
    background-image: url("img/logo.png");
    background-repeat: no-repeat;
    background-size: 54px;
    background-position-y: 17px;
    background-position-x: 10px;
    
}

header a .marca {
    margin: 0px 0px 0px 40px;
    max-width: 160px;
    min-width: 160px;
    font-family: 'Bauhaus 93';
    text-align: center;
    color: rgb(226, 55, 55);
    background-color: white;
}

ul {
    list-style-type: none;
    margin: auto;
}

li {
    display: inline;
    padding: 0px 0px;
}

.dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    left: 0%;
    top: 87px;
    width: 100%;
    margin: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content h1 {
    font-family: 'Arial';
    font-size: 14px;
    border-bottom: 1px solid black;
    color: black;
}
  
.dropdown-content a {
    width: 10%;
    float: none;
    color: black;
    padding: 12px 17px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.teste:hover .dropdown-content {
    display: block;
}

header .categoria {
    padding: 33px 20px;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header .categoria:hover {
    border-bottom: 2px solid rgb(226, 55, 55);
}

header .login {
    padding: 33px 20px;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(226, 55, 55);
}

header .login:hover {
    border-bottom: 2px solid rgb(226, 55, 55);
}

header .special {
    padding: 33px 20px;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(55, 158, 226);
}

header .special:hover {
    border-bottom: 2px solid rgb(55, 158, 226);
}

header div {
    display: block;
    margin: auto 10px;
}

header input {
    outline: none;
    width: 280px;
    height: 35px;
    padding: 0px 10px;
    font-family: 'Arial';
    border: none;
}

header button {
    cursor: pointer;
    float: right;
    width: 35px;
    height: 35px;
    font-size: 17px;
    color: rgb(226, 55, 55);
    background: white;
    border: none;
    transition: 0.2s;
}

header button:hover {
    cursor: pointer;
    float: right;
    width: 35px;
    height: 35px;
    font-size: 17px;
    color: rgb(226, 55, 55);
    background: #ddd;
    border: none;
}

.img_announce {
    max-width: 100%;
    height: auto;
}

h2 {
    margin: 35px 40px 30px 40px;
    padding: 0px 0px 00px 0px;
    font-family: 'Arial';
    font-size: 35px;
    color: black;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 40px 0px 40px;
}

.produtos .produto {
    position: relative;
    width: 400px;
    height: 500px;
}

.produtos .produto img {
    cursor: pointer;
    position: absolute;
    min-width: 400px;
    max-width: 400px;
}

.produtos .img1:hover {
    cursor: pointer;
    opacity: 0;
}

.produtos .img2 {
    opacity: 0;
    transition: 0.2s;
}

.produtos .img2:hover {
    cursor: pointer;
    opacity: 1;
}

.produtos .nome {
    margin-top: 410px;
    margin-bottom: 0%;
    margin-left: 2px;
    font-family: 'Arial';
    font-size: 14px;
}

.produtos .preco {
    margin-top: 7px;
    margin-left: 2px;
    font-family: 'Arial';
    font-size: 17px;
    position: absolute;
}

.desconto {
    height: 45px;
    position: absolute;
    display: flex;
    gap: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.teste2 {
    margin-top: 28px;
    margin-left: 2px;
    height: 40px;
    font-family: 'Century Gothic';
    font-size: 20px;
    font-weight: bold;
    color: #e71836;
}

.teste3 {
    margin-top: 28px;
    margin-left: 2px;
    padding: 0px 10px;
    height: 25px;
    font-family: century gothic;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #e71836;
}

.marcas{
    display: flex;
    justify-content: space-between;
    margin: 140px 40px 15px 40px;
}

.marca {
    cursor: pointer;
    width: 15%;
}