body {
    margin: 0;
}

header {
    display: flex;
    gap: 10px;
    padding: 20px 30px;
    background-color: rgb(15, 15, 15);
}

header .logo {
    margin: 0px 0px 0px 0px;
    height: 52px;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0px;
}

li {
    cursor: pointer;
    display: inline;
    padding: 0px 0px;
}

header .categoria {
    padding: 36px 20px;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

header .categoria:hover {
    border-bottom: 2px solid rgb(226, 55, 55);
}

header .icon {
    display: none;
    font-size: 27px;
    color: rgb(226, 55, 55);
}

header .login {
    padding: 36px 20px;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(226, 55, 55);
}

header .login:hover {
    border-bottom: 2px solid rgb(226, 55, 55);
}

header .special {
    padding: 36px 20px;
    font-family: 'Arial';
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(55, 158, 226);
}

header .special:hover {
    border-bottom: 2px solid rgb(55, 158, 226);
}

header div {
    display: block;
    margin: auto 10px;
}

header input {
    outline: none;
    width: 280px;
    height: 35px;
    padding: 0px 10px;
    font-family: 'Arial';
    border: none;
}

header button {
    cursor: pointer;
    float: right;
    width: 35px;
    height: 35px;
    font-size: 17px;
    color: white;
    background-color: rgb(226, 55, 55);
    border: none;
    transition: 0.2s;
}

header button:hover {
    cursor: pointer;
    float: right;
    width: 35px;
    height: 35px;
    font-size: 17px;
    color: #ddd;
    background-color: rgb(185, 46, 46);
    border: none;
}

.dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    left: 0%;
    top: 92px;
    width: 100%;
    margin: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content h1 {
    width: 400px;
    margin: 15px;
    padding-bottom: 10px;
    font-family: 'verdana';
    font-size: 15px;
    text-align: left;
    color: rgb(63, 63, 63);
    border-bottom: 2px solid rgb(63, 63, 63);
}
  
.dropdown-content a {
    display: block;
    float: none;
    width: 30%;
    padding: 12px 17px;
    font-family: 'verdana';
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    color: rgb(63, 63, 63);
}
  
.dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
}
  
.dropdown-content a:hover {
    color: black;
}

.teste:hover .dropdown-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-container-responsive {
    display: none;
    width: 100%;
    margin-bottom: 37px;
}

.search-container-responsive input {
    float: left;
    outline: none;
    width: 93%;
    padding: 10px 1%;
    font-family: 'Verdana';
    border: 0px solid rgb(226, 55, 55);
    border-bottom: 1px solid rgb(226, 55, 55);
}

.search-container-responsive button {
    cursor: pointer;
    float: left;
    min-width: 5%;
    max-width: 5%;
    height: 37px;
    font-size: 20px;
    color: white;
    background-color: rgb(226, 55, 55);
    border: 0px solid rgb(226, 55, 55);
    border-bottom: 1px solid rgb(226, 55, 55);
    transition: 0.2s;
}

.search-container-responsive button:hover {
    cursor: pointer;
    color: #ddd;
    background-color: rgb(185, 46, 46);
    border: 0px solid rgb(226, 55, 55);
    border-bottom: 1px solid rgb(226, 55, 55);
}

.img_announce {
    
    max-width: 100%;
    height: auto;
   
}

.announceVote {
    width: 94.5%;
    display: block;
    height: auto; 
    margin: 60px auto;
}

.announceVoteimg {
    width: 100%;
    height: auto;
}

h2 {
    margin: 55px 40px 0px 55px;
    padding: 0px 0px 0px 0px;
    font-family: 'Arial';
    font-size: 2vw;
    color: black;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 30px 0px 30px;
}

.produtos .produto {
    position: relative;
    width: 23%;
    height: auto;
    margin: 35px 15px;
}

.produtos .produto img {
    cursor: pointer;
    position: absolute;
    width: 100%;
}

.produtos .img1:hover {
    cursor: pointer;
    opacity: 0;
}

.produtos .img2 {
    opacity: 0;
    transition: 0.2s;
    width: 100%;
}

.produtos .img2:hover {
    cursor: pointer;
    opacity: 1;
}

.produtos .nome {
    margin-top: 102%;
    margin-bottom: 1%;
    font-family: 'Verdana';
    font-size: 14px;
}

.produtos .preco {
    position: absolute;
    margin-top: 0%;
    font-family: 'Verdana';
    font-size: 17px;
    font-weight: bold;
}

.desconto {
    height: 45px;
    position: absolute;
    display: flex;
    gap: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.teste2 {
    height: 40px;
    font-family: 'Verdana';
    font-size: 18px;
    font-weight: bold;
    color: #e71836;
}

.teste3 {
    padding: 0px 10px;
    height: 22.5px;
    font-family: 'Century Gothic';
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #e71836;
}

.novidade {
    height: 45px;
    position: absolute;
    display: flex;
    gap: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.teste4 {
    position: absolute;
    top: 15px;
    left: 15px;
    margin: 0;
    padding: 0px 10px;
    height: 25px;
    font-family: century gothic;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #70b835;
}

/* SlideShow */

.mySlides {
    display: none
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  margin-bottom: 13px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 47.5%;
  width: auto;
  padding: 15px 24px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
    left: 10px;
    border-radius: 0%;
}

/* Position the "next button" to the right */
.next {
    right: 10px;
    border-radius: 0%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(226, 55, 55, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 0%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(226, 55, 55);
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


/* RESPONSIVE */

@media screen and (max-width: 1470px) {
    header .search-container{
        display: none;
    }

    h2 {
        font-size: 200%;
    }

    .search-container-responsive {
        display: block;
    }
}

@media screen and (max-width: 1115px) {
    header {
        display: inherit;
        padding: 20px 0px;
    }

    header .logo {
        display: block;
        width: 219px;
        margin: 0px 0px 0px 30px;
        padding: 0px;
    }

    header .icon {
        display: block;
        position: absolute;
        top: 30px;
        left: 90%;
    }

    header .categoria, .special, .login, .search-container{
        display: none;
    }

    h2 {
        font-size: 200%;
    }

    .search-container-responsive {
        display: block;
    }

    .menu.responsive {
        position: relative;
    }

    .menu.responsive .logo {
        padding: 0px;
    }

    .menu.responsive .icon {
        display: block;
        position: absolute;
        top: 30px;
        left: 90%;
    }

    .menu.responsive a {
        display: block;
        padding: 20px 20px;
        font-family: 'Arial';
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        
    }

    .menu.responsive a:hover {
        border: none;
    }

    .teste:hover .dropdown-content {
        display: none;
    }
}

@media screen and (max-width: 999px) {
    .announceVote {
        display: none;
    }

    h2 {
        margin: 60px 40px 0px 40px;
        text-align: center;
        font-family: 'Arial';
        font-size: 5vw;
        color: black;
    }

    .produtos .produto {
        position: relative;
        width: 80%;
        height: auto;
        margin: 35px 15px;
    }

    .search-container-responsive input {
        float: left;
        outline: none;
        width: 78%;
        height: 18px;
        font-family: 'Verdana';
        border: 0px solid rgb(226, 55, 55);
        border-bottom: 1px solid rgb(226, 55, 55);
    }

    .search-container-responsive button {
        cursor: pointer;
        float: left;
        min-width: 20%;
        max-width: 20%;
        height: 39px;
        font-size: 20px;
        border: 0px solid rgb(226, 55, 55);
        border-bottom: 1px solid rgb(226, 55, 55);
        transition: 0.2s;
    }
}

@media only screen and (max-width: 300px) {
    .prev, .next, .text {
        font-size: 11px
    }
}