html, body {
    margin: 0;
    background-image: url("img/background.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-form {
    width: 650px;
    height: 51vh;
    margin: 23vh auto;
    padding: 40px 0px;
    background-color: white;
    box-shadow: 0px 0px 14px -3px #000000;
}

.tit {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    font-size: 68px;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
    color: black;
}

.dados {
    display: block;
    margin: auto;
    outline: none;
    width: 70%;
    height: 55px;
    margin-top: 20px;
    padding: 8px 12px;
    font-size: 120%;
    font-family: 'Poppins';
    font-weight: none;
    color: black;
    background-color: #E5E5E5;
    border: none;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.35);
    transition: border 0.2s;
}

.create {
    margin-left: 15%;
    padding: 0px 0px;
    font-size: 115%;
    font-family: 'Poppins';
    color: black;
}

.here {
    color: #A31111;
    text-decoration: none;
}

.here:hover {
    color: rgb(226, 55, 55);
    text-decoration: none;
}

.submit {
    outline: 0;
    display: block;
    width: 70%;
    height: 50px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
    font-family: 'Poppins';
    color: white;
    background: linear-gradient(0.55turn, rgb(226, 55, 55), rgb(226, 55, 55), #f69d3c);
    border: none;
    transition: width 0.7s, background-color 0.3s, border-radius 0.4s;
}

.submit:hover {
    outline: 0;
    color: white;
    background-color: rgb(226, 55, 55);
    border-radius: 0px;
    border-color: rgb(226, 55, 55);
}

.submit:focus {
    outline: 0;
}