html, body {
    margin: 0;
    background-image: url("img/annouce2.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-register {
    width: 650px;
    height: 580px;
    margin: 20vh auto;
    padding: 40px 0px;
    background-color: white;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
}

.tit {
    display: block;
    margin: auto;
    margin-bottom: 50px;
    font-size: 60px;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
    color: black;
}

.dados {
    display: block;
    margin: auto;
    outline: none;
    width: 70%;
    height: 55px;
    margin-top: 3%;
    padding: 8px 12px;
    font-size: 120%;
    font-family: 'Poppins';
    font-weight: none;
    color: black;
    background-color: #E5E5E5;
    border: none;
    border-bottom: 2px solid black;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.35);
    transition: border 0.2s;
}

.dados:hover {
    color: rgb(226, 55, 55);
    border-bottom: 2px solid rgb(226, 55, 55);
}

.dados:focus {
    color: rgb(226, 55, 55);
    border-bottom: 2px solid rgb(226, 55, 55);
}

.create {
    padding: 20px 0px;
    font-size: 115%;
    font-family: 'Poppins';
    text-align: center;
    color: black;
}

.here {
    color: #A31111;
    text-decoration: none;
}

.here:hover {
    color: rgb(226, 55, 55);
    text-decoration: underline;
}

.submit {
    outline: 0;
    display: block;
    margin: auto;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
    color: #E6E6E6;
    background-color: #AE4242;
    border: 0px solid;
    border-radius: 30px;
    border-color: #AE4242;
    transition: width 0.7s, background-color 0.3s, border-radius 0.4s;
}

.submit:hover {
    outline: 0;
    color: white;
    background-color: rgb(226, 55, 55);
    border-radius: 0px;
    border-color: rgb(226, 55, 55);
}

.hide {
    display: none;
}

.erro {
    position: absolute;
    height: 45px;
    top: 0%;
    right: 3%;
    bottom: 0;
    font-size: 100%;
    font-family: Century Gothic;
    color: white;
    background-color: #A44045;
    border-bottom: 3px solid #5F0C0C;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}